*{
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

  h1 {
    font-size: 20px;
    margin: 0px 10px 0px 10px;
    color: white;
  }

  p {
    margin: 10px 10px 10px 10px;
    color: white;
  }

  .cards {
    display: grid;
    width: max-content;
    grid-template-columns: repeat(10, 100px);
    /* grid-template-rows: repeat(2, 150px); */
    grid-gap: 10px;
    /* grid-row-gap: 40px; */
    margin: 40px 0px 20px 0px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
  }

  #card {
    height: 100px;
    background-color: white;
    border: 0.1vmin solid grey;
    cursor: pointer;
  }